body,
html {
  background-color: #1b1b1b;
  color: white;
  font-size: 20px;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

h1,
h2,
h3 {
  margin: 5px 0;
}

h1,
h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}

p {
  opacity: 0.8;
}

.intro p {
  max-width: 800px;
  text-align: center;
}

.profile-pic {
  width: 250px;
  height: 250px;
  margin-top: 100px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.icons {
  opacity: 0.8;
  display: flex;
  gap: 20px;
  margin: 5px 0;
}

.projects-section h2 {
  margin-bottom: 45px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.project {
  display: flex;
  gap: 50px;
  align-items: center;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project p {
  max-width: 700px;
  margin: 0;
}

.project-title {
  font-size: 1.3rem;
}

.badges {
  display: flex;
  gap: 10px;
}

iframe {
  width: 400px;
  height: 250px;
}

@media screen and (max-width: 992px) {
  .project {
    flex-direction: column;
  }

  .badges {
    justify-content: center;
  }

  .project-info {
    text-align: center;
  }
}
